version: '3.8'

services:
  nakama:
    container_name: nakama
    image: heroiclabs/nakama:3.22.0
    environment:
      - DATABASE_ADDRESS=postgresql://chougan2:<ENTER-SQL-USER-PASSWORD>@oval-cricket-12517.jxf.gcp-europe-west1.cockroachlabs.cloud:26257/defaultdb?sslmode=verify-full
      - "Nakama_Name=nakama1"
    entrypoint:
      - "/bin/sh"
      - "-ecx"
      - |
        echo "Running Nakama migrations..."
        /nakama/nakama migrate up --database.address $DATABASE_ADDRESS
        echo "Starting Nakama server..."
        exec /nakama/nakama --name $Nakama_Name --database.address $DATABASE_ADDRESS
    ports:
      - "7349:7349"
      - "7350:7350"
      - "7351:7351"
    volumes:
      - nakama-data:/nakama/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7350/"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  nakama-data:
